body{
    background: #FFF;
    font-size: 16px;
}
header.inicial {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header.inicial h1{
    font-family: sans-serif;
    font-size: 2rem;
    color: #404040;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}
header.inicial p {
    font-family: sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}
img {
    display: block;
    max-width: 100%;
}
.busca--box {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.busca--form {
    background: #fdecec;
    border-radius: 50px;
    display: flex;
    padding: 20px;
}
.busca--form img{
    margin-right: 30px;
    margin-left: 30px;
    width: 30px;
}
.busca--input{
    color: red;
    padding: 5px;
    width: 500px;
    max-width: 500px;
    font-size: 1rem;
    border: none;
    background: #fdecec;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.personagem--box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.personagem--item{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
}
.personagem--item a{
    text-decoration: none;
}
.personagem--item h2{
    font-family: sans-serif;
    font-size: 1rem;
    color: #404040;
}
.personagem--barra{
    width: 100%;
    height: 3px;
    background: red;
}
/*.bg--personagem{
    background: #e7f6e7;
}*/
.header--personagem{
    padding-top: 50px;
    padding-bottom: 50px;
}
.personagem--box{
    display:flex;
    margin-bottom: 100px;
}
.personagem--details{
    flex: 1;
}
.personagem--details h1{
    font-family: sans-serif;
    font-size: 3rem;
    color: #404040;
    text-transform: uppercase;
    margin-bottom: 0;
}
.personagem--details p{
    font-family: sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
}
.personagem--image{
    flex: 1;
    margin-left: 30px;
}
.personagem--numbers{
    display: flex;
}
.personagem--numbers img{
    display: inline-block;
}
.personagem--numbers__quadrinhos{
    margin-right: 50px;
}
.personagem--numbers span{
    font-size: 2rem;
    margin-left: 10px;
}

@media(max-width: 767px){
    .personagem--item{
        width: 100%;
    }
    .busca--input{
        width: 200px;
        max-width: 200px;
    }
    .personagem--box{
        flex-direction: column;
    }
    .personagem--image{
        margin-left: 0px;
        order: 1;
    }
    .personagem--details{
        order: 2;
    }
}